In [70]:
import pandas as pd
import numpy as np
# df = pd.read_csv('assets/trip.csv', error_bad_lines=False)
file_name_list = ["station", "trip", "weather"]
df_list = []
for file_name in range(len(file_name_list)):
    temp_df = pd.read_csv("./assets/"+file_name_list[file_name]+".csv", error_bad_lines=False)
    df_list.append(temp_df)

/Users/glennclark/projects/courses/data-analysis-pandas/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [74]:
df_list[1].head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [85]:
# # trip duration for borrowed bicyle
# # enter trip df at index 1
# trip_bike = df_list[1]
# # check coloumns in head
# trip_bike.head()
# # set variable for parameter?
# duration = trip_bike['tripduration']
# duration.head(10)
# # find the average of the trip duration
# average_duration = duration.mean()
# average_duration

trip_duration = df_list[1]['tripduration'].mean()
trip_duration

1178.2956753399776

In [88]:
# most common age of a bike sharer
# access 'trip' csv at df_list index 1
# get the 'birthyear' parameter
birth_age = df_list[1]['birthyear']
# find the mode of birth age
birth_mode = birth_age.mode()
birth_mode

0    1987.0
dtype: float64

In [191]:
# weather data, find average precipitation per month, and median precipitation
# access 'weather' csv at df_list index 2
# get the 'Precipitation_In' parameter
# df_list[2].set_index('Precipitation_in', 'Date')
# weather_precipitation = df_list[2]['Precipitation_In']
# get the 'Date
weather_date = df_list[2]['Date']
weather_date
# pd.to_datetime(weather_date, dayfirst=False)
# mon = pd.date_range(start='1/1/2019', end='2019/6/6', freq='M')
weather_date = weather_date.astype(str)
# split by /
split_date = weather_date.str.split(pat="/")
# get the first element
split_date
# for item in split_date[::]:
# split_date[0]['Date']

0      [10, 13, 2014]
1      [10, 14, 2014]
2      [10, 15, 2014]
3      [10, 16, 2014]
4      [10, 17, 2014]
            ...
684     [8, 27, 2016]
685     [8, 28, 2016]
686     [8, 29, 2016]
687     [8, 30, 2016]
688     [8, 31, 2016]
Name: Date, Length: 689, dtype: object

In [95]:
weather_precipitation.median()

0.0